{% extends "layout.html" %}
{% block content %}
        <div class="content">
            <h1>Регистрация</h1>
            <form method="POST" class='regform'> {% csrf_token %}
                <input type="text" name="login" placeholder="Login" value="{{ form.login }}"> <br>
                <input type='email' name='email' placeholder='E-Mail' value="{{ form.email }}"> <br>
                <input type='password' name='password' placeholder='Password' value='{{ form.password }}'> <br>
                <input type="submit" value="Send">
            </form>
            {{ form.errors }}
        </div>
{% endblock %}
